<h1>Stupid Coaching</h1>
<!-- <p>Find me in app/views/pages/ask.html.erb</p> -->
<p>Ask your coach anything</p>

<form class="form-inline" action="/answer">
  <div>
    <input type="text" class="form-control" name="question">
  </div>
  <div>
    <input type="submit" class="btn btn-primary" value="Ask!">
  </div>
</form>

<!-- define the target (url "answer"), input text in "question" attribute (which is then stored directly in the url, submit pressing button where it's written "ask" . We put a class from bootstrap> -->
